.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #161616;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #eee9e9;
}

.navbar {
  background-color: #008421;
}

.navbar-brand {
  color: #eee9e9;
  font-size: calc(10px + 2vmin);
}

.cust-addheading {
  color: #161616;
  cursor: pointer;
  user-select: none;
  font-size: calc(5px + 2vmin);
}

.cart-addheading {
  color: #161616;
  cursor: pointer;
  user-select: none;
  font-size: calc(5px + 2vmin);
}
