
.accountCreate {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.email,.password{
  width: 100%;
}

.accountCreate button :hover{
  color: #519e8a;
  background-color: fff;
  border: 2px soild #519e8a;
}



.accountCreate {
  background-color: #551177;
  color: fff;
  border: 2px solid #fff;
  width: 15%;
  margin-top: 1em;
  padding: 8px 0px;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight:  lighter;
  margin-bottom: 0.25em;
  float: left;
}

.accountCreate small {
  font-weight: lighter;
  color: #999;
}